*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.hero-background{
    z-index: 1;
    overflow: hidden;
    
}
.hero-absolute{
    //max-width: 600px;
    position: relative;
    width: 80vw;
     top: 80px;
    position: absolute;
     z-index: 3;
    margin: 0 auto;
    align-items: center;
    display: block;
    left: 0;
    right: 0;
    margin: 0px auto 10px;
    text-align: center;
    justify-content: center;
}
.info-box{
    width: 80vw;
    align-items: center;
    //width: 310px;
    position: relative;
    background: white;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}
.map{
    height: 550px;
    z-index: 1;
    overflow: hidden;
    position: relative;
}
h3{
    font-weight: 600;
    font-size: 20px;
}
.ip-input{
    position: relative;
    bottom: 50px;
    p{
        font-weight: 600;
        color: white;
        font-size: 25px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
}

.group{
    display: flex;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    input{
       padding: 10px;
        display: block;
        margin: 0 auto;
        outline: none;
        width: 300px;
        border: none;
        border-radius: 10px 0px 0px 10px;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .arrow-div{
        background: black;
        width: 60px;
        height: 41px;
        align-items: center;
        border-radius: 0px 10px 10px 0px;
        img{
            margin: 0 auto;
            display: block;
            text-align: center;
            //z-index: 2;
            width: 30px;
            cursor: pointer;
            margin-top: 5px;
        }
    }
}
.info{
    margin-bottom: 20px;
    p{
        font-size: 10px;
        color: #555555;
    }
}

@media screen and (min-width: 844px){
   .info-box{
       display: flex;
       max-width: 1300px;
       width: 70vw;
       height: 150px;
       justify-content: space-between;
   }
   .separate{
       width: .5px;
       height: 55px;
       background: #d3d3d3;
   }
.group{
    width: 400px;
    height: 50px;
    input{
        width: 400px;
    }
    .arrow-div{
        width: 70px;
        height: 51px;
        img{
            width: 40px;
        }
    }
}
}
